PROJECT_ROOT=/home/user/stellar-harvest-insight-engine

# "index-url" ~/.config/pip/pip.conf
DEVPI_HASEK_DEV_URL=="http://localhost:3141/user/pypi/+simple/"

TWINE_USERNAME=
TWINE_PASSWORD=
TWINE_REPOSITORY_URL=http://localhost:3141/user/pypi/